/* .user-profile-page{
    height: 100%;
    background-color:var(--PAGEBACKGROUND);
    color: var(--PRIMARYCOLOR);
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
} */

.user-profile-page{
    height: 100%;
    width: 100%;
    background-color:var(--PAGEBACKGROUND);
    color: var(--PRIMARYCOLOR);
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
    z-index: 2;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.user-profile-content{
    display: flex;
    flex-direction: column;
    position: relative;
}

.search-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--PAGEBACKGROUND);
    position: sticky;
    top: 0;
    padding: 10px 5px;
    z-index: 1;
}

.back-icon button{
    background-color: var(--PRIMARYCOLOR);
    color: var(--MAINBGICONCOLOR);
    font-weight: bold;
    padding: 0.2rem 0.4rem;
    border-radius: 8px;
    display: grid;
    place-content: center;
}


.top{
    height: 60vh;
    border-bottom: 5px solid var(--HOMEBGCOLOR);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-top{
    position: relative;
    width: 100%;
    height: 70%;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: center;
}

.top-top-image{
    width: 8rem;
    height: 8rem;
    position: absolute;
    bottom: -2rem;
    left: 0.5rem;
}

.top-top-image img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: 6px solid var(--PAGEBACKGROUND);
}

.top-down{
    height: 30%;
    width: 100%;
    padding: 3rem 0.5rem 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.top-down-userName{
    font-size: 1.5rem;
    font-weight: bold;
}

.top-down-profieName{
    color: var(--HOMEBGLIGHT);
}

.top-down-buttons{
    display: flex;
    gap: 0.5rem;
}

.top-down-buttons button{
    width: 50%;
    padding-block: 0.4rem;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
}

.top-down-buttons .follow{
    background-color: var(--PRIMARYCOLOR);
    color: var(--PAGEBACKGROUND);
}

.top-down-buttons .message{
    background-color: var(--PAGEBACKGROUND);
    color: var(--PRIMARYCOLOR);
    border: 1px solid var(--PRIMARYCOLOR);
}

.down{
    height:auto;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
}

.down-user-info{
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user-tagline{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-style: italic;
}

.down-user-info-experience{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.down-user-info-experience .item{
    display: flex;
    gap: 0.3rem;
}

.down-user-analytics{
    display: flex;
    gap: 2rem;
}

.down-user-analytics-item{
    display: flex;
    gap: 0.5rem;
}
.down-user-analytics-item p{
    color: var(--HOMEBGLIGHT);
}

.down-header{
    position: sticky;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 41px;
    padding: 0.5rem 0;
    background-color: var(--PAGEBACKGROUND);
    border-bottom: 2px solid var(--HOMEBGCOLOR);
    border-top: 2px solid var(--HOMEBGCOLOR);
    margin-block: 0.5rem;
    z-index: 1;
}

.down-header ul{
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}

.down-header li{
    cursor:pointer;
}

.down-header-active{
    background-color: var(--HOMEBGLIGHT);
    color: var(--PRIMARYCOLOR);
    padding: 0.2rem;
    border-radius: 15px;
}




@media screen and (max-width:1500px){
   

  
 }
 
 /* || LARGE */
 
 @media screen and (max-width:992px){
   
   
 }
 /* || MEDIUM */
 
 @media screen and (max-width:768px){

   
 }
 
 /* || SMALL */
 
 @media screen and (max-width:576px){
   
}

@media screen and (max-height:741px){

    .search-nav{
        height: 3rem;
    }

    .top{

        border-bottom: 5px solid var(--HOMEBGCOLOR);
    }

    .top-down{
        gap: 0.5rem;
        padding: 2.5rem 0.5rem 0.5rem 0.5rem;
    }
}
 
 @media  (max-height:600px) and (max-width:1024px ){

    
 }
 
 
 
 /* ||MOBILE DEVICE LANSCAPE */
 
 /* @media screen and (max-height:425px) and (min-aspect-ratio:7/4){
      
 } */
 
 
 
 
 
 
 
 
 
 
 