.forgot{
    min-height: 100%;
    width: 100%;
    background-image: url('../../../../assets/background.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: center;
    position: relative;
}

.background-layer{
    background-color: rgba(139, 137, 137, 0.637);
    background-size:100% 100%;
    width: inherit; 
    height: 100vh;
}

.forgot .signUp-button{
    padding: 5px;
    background-color: var(--PRIMARYCOLOR);
    color:var(--MAINBGICONCOLOR);
    border-radius: unset;
    font-weight: bold;
}

.forgot .main-content{
    height: 100%;
    width: 100%;
}

.forgot .navigation-buttons{
    display: flex;
    justify-content: space-between;
}

.forgot .main-content-content{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-inline: 70px;
}

.forgot .words{
    font-size: 150px;
    font-weight: bold;
    font-style: italic;
    font-family:'Geneva';
    letter-spacing: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgba(63, 4, 50, 0.543);
}

.forgot .content{
    height: auto;
    width: 47%;
}

.forgot .right-content{
    height: auto;
    background-color:rgba(160, 113, 113, 0.096);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 35px 80px ;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: 5px 0px 0px 2px rgba(63, 4, 50, 0.502); 
}

.forgot .welcome{
    font-size:45px;
    font-weight: bold;
    color: var(--MAINBGICONCOLOR);
}

.forgot span{
    color: var(--PRIMARYCOLOR);
}

.forgot form{
    display: flex;
    flex-direction: column;
    gap: 20px;

} 

.forgot .form-row{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.forgot label{
    font-size: 18px;
    color: var(--PRIMARYCOLOR);
    font-weight: bold;
}

.forgot input{
    padding: 10px;
    border: none;
    background-color: var(--MAINBGICONCOLOR);
    border-radius: unset;
    font-size: 14px;
    outline: none;
    color: var(--PRIMARYCOLOR);
}

.forgot .input-error-close-button{
    cursor:pointer;
}

.forgot .forgot-button{
    margin-top: 1rem;
    background-color: var(--PRIMARYCOLOR);
    color:var(--MAINBGICONCOLOR);
    padding: 5px 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: unset;
    font-weight: bold;   
}

.forgot .forgetOrRegister{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}


@media screen and (max-width:1500px){
    .forgot .content{
        width: 50%;
    }
    
    .forgot .right-content{
        padding: 35px 40px ;
    }
}


@media screen and (max-width:992px){

    .forgot .words{
        font-size: 100px;
        bottom: 0;
        right: 0;
        left: unset;
    }

    .forgot .main-content-content{
        height: 90%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .forgot .content{
        width: 100%;
    }

    .forgot .left-content{
        display: none;
    }

    .forgot .right-content{
        padding: 3rem;
        width: 100%;
        height: auto;
        border-radius: 0;
        background-color: rgba(160, 113, 113, 0.096);
        box-shadow: 0px 2px 4px 4px rgba(63, 4, 50, 0.502);
    }
    
   
}
/* || MEDIUM */

@media screen and (max-width:768px){
    .forgot .welcome{
        text-align: center;
    }

    .forgot .right-content p{
        text-align: center;
    }
}

/* || SMALL */

@media screen and (max-width:576px){
    .forgot .words{
        font-size: 50px;
        font-weight: bold;
        font-style: italic;
        font-family:'Geneva';
        letter-spacing: 2rem;
        position: absolute;
        bottom: 0;
        left: 0;
        color: rgba(63, 4, 50, 0.543);
        text-align: center;

    }

    .forgot .main-content{
        height: 100%;
        width: 100%;
    }
    
    .forgot .main-content-content{
        height: 90%;
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .forgot .right-content {
        padding: 40px 20px;
    }

    .forgot .welcome{
        font-size:30px;
        font-weight: bold;
        color: var(--MAINBGICONCOLOR);
    }
}


@media screen and (max-width:306px){
    .forgot .words{
        display: none;
    }
}

/* ||MOBILE DEVICE LANSCAPE */

/* @media screen and (max-height:425px) and (min-aspect-ratio:7/4){
     
} */
