.notification-settings-page{
    background-color: var(--PAGEBACKGROUND);
    height: 91vh;
    width: 100%;
    padding: 0 0.3rem;
    overflow-y: scroll;
    overflow-x: hidden;
    color: var(--PRIMARYCOLOR);
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.notification-settings-page-header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: var(--PAGEBACKGROUND);
    z-index: 1;
    margin-top: -0.5rem;
    padding: 0.5rem 0;
    font-weight: bold;
}

.notification-settings-page-header .nav-close-button{
    background-color: var(--PRIMARYCOLOR);
    color: var(--PAGEBACKGROUND);
    border-radius: 10px;
    padding: 5px;
}

.notification-settings-page-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.individual-notification-settings{
    display: flex;
    justify-content: space-between
}

.notification-settings-page input[type=checkbox]{
   appearance: none;
	width: 18px;
	height: 18px;
	border: 1px solid var(--PRIMARYCOLOR);
	border-radius: 100px;
	background-color: transparent;
	position: relative;
}

.notification-settings-page input[type=checkbox]:checked::before {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	background-color: var(--PRIMARYCOLOR);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: appear 0.5s;
}

/* @keyframes appear {
	0% {
		transform: translate(-50%, -50%) scale(0);
		background-color: #fff;
	}
	45% {
		transform: translate(-50%, -50%) scale(1.6);
		background-color: var(--HOMEBGLIGHT);
	}
	50% {
		transform: translate(-50%, -50%) scale(1.7);
		background-color: #ad97b3;
	}
	55% {
		transform: translate(-50%, -50%) scale(1.6);
	}
	100% {
		transform: translate(-50%, -50%) scale(1);
		background-color: var(--PRIMARYCOLOR);
	}
} */


.individual-settings{
    display: flex;
    justify-content: space-between;
    color: var(--HOMEBGLIGHT);
}

@media screen and (max-width:1200px){
    .notification-settings-page{
        height: 81vh;
    }
}
