.report-bug-page{
    height: 91vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--PAGEBACKGROUND);
    color: var(--PRIMARYCOLOR);
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 15px;
    padding: 0px 5px;
}

.report-bug-page-header{
    display: none;
}

.report-bug-page-header h3{
    display: none;
}


.instruction-button{
    background-color: var(--PRIMARYCOLOR);
    color: var(--PAGEBACKGROUND);
    border-radius: 10px;
    padding: 5px;
}

.report-bug-page-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.report-bug-page-content-content{
    height: 70vh;
    display: flex;
    gap: 10px;
    position: relative;
}

.report-bug-page-content-title{
    display: grid;
    font-weight: bold;
}

.report-bug-page-content-content-form,.report-bug-page-content-content-instruction{
    width: 100%;
}

.report-bug-page-content-content-form h3{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--HOMEBGCOLOR);
}

.report-bug-page-content-content-form  form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.report-bug-page-content-content-form  form .form-row{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.submit{
    background-color: var(--PRIMARYCOLOR);
    color: var(--PAGEBACKGROUND);
    border-radius: 10px;
    padding: 0.5rem;
}

.report-bug-page-content-content-form input{
    outline: none;
    border: none;
    border-radius: 10px;
    color: var(--PRIMARYCOLOR);
}

.report-bug-page-content-content-form input::placeholder{
    color: var(--HOMEBGLIGHT);
}

.report-bug-page-content-content-form textarea{
    outline: none;
    border: none;
    padding: 5px 10px;
    color: var(--PRIMARYCOLOR);
    border-radius: 10px;
}

.report-bug-page-content-content-form textarea::placeholder{
    color: var(--HOMEBGLIGHT);
}

/* .report-bug-page-content-content-instruction{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    top: 0;
    padding: 0.3rem;
    height: 100%;
    overflow: scroll;
}
 */
.report-bug-page-content-content-instruction h3{
    display: flex;
    justify-content: space-between;
}


.report-bug-page-content ol{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.report-bug-page-content ol li{
    list-style: decimal;
}

.no-form{
    display: none;
}

.no-instruction{
    display: none;
}

.no-instruction h3{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:1200px){
    .report-bug-page{
        height: 81vh;
    }
    
}

@media screen and (max-width:992px){
    .report-bug-page{
        height: 81vh;
        overflow: unset;
    }
    
    
    .report-bug-page-header{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
        position: sticky;
        top: 0;
        background-color: var(--PAGEBACKGROUND);
        padding: 5px 0;
        z-index: 1;
    }

    .report-bug-page-header h3{
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid var(--HOMEBGCOLOR);
    }

    .report-bug-page-content-content-form h3{
        display: none;
    }

    .report-bug-page-content-title{
        display: none;
    }

    .report-bug-page-content-content{
        position: unset;
    }

    .back-button{
        background-color: var(--PRIMARYCOLOR);
        color: var(--MAINBGICONCOLOR);
        font-weight: bold;
        padding: 2px 4px;
        border-radius: 8px;
        display: grid;
        place-content: center;
    }

    .report-bug-page-content{
        height: 90%;
        overflow: scroll;
    }

    .report-bug-page-content-content-form{
        overflow: scroll;
    }

    .report-bug-page-content-content-instruction{    
        overflow: scroll;
    }
    

}