.problem-page{
    background-color: var(--PAGEBACKGROUND);
    height: 91vh;
    width: 100%;
    padding: 0 3px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: var(--PRIMARYCOLOR);
}


.probllem-page-header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: var(--PAGEBACKGROUND);
    z-index: 1;
    margin-top: -5px;
    padding: 0.5rem 0;
    font-weight: bold;
}

.problem-page .nav-close-button{
   display: none;
}

.probllem-page-form{
    margin-top: 10px;
}

.probllem-page-form form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.probllem-page-form .form-row{
    display: flex;
    flex-direction: column;
    gap: 5px;
} 

.problem-page textarea{
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 15px;
    color: var(--PRIMARYCOLOR);
}

.problem-page textarea:hover{
    box-shadow: 1px 0px 9px 4px rgba(75, 43, 68, 0.295); 
}

.form-row .preview-image{
    width: 100%;
    height: 80px;
    position: relative;
}

.form-row .preview-close{
    position: absolute;
    left: 5px;
    top: 5px;
    padding: 3px;
    background-color: var(--MAINBGICONCOLOR);
    color: var(--PRIMARYCOLOR);
    border-radius: 50px;
}

.form-row .preview-close:hover{
    background-color: var(--PRIMARYCOLOR);
    color: var(--MAINBGICONCOLOR);
}

.form-row .preview-image img{
    height: 100%;
    width: 60%;
    border-radius: 15px;
}

.form-row .image-post{
    width: 100%;
    height: 150px;
    background-color: var(--BORDERRIGHTCOLOR);
    border-radius: 20px;
    display: grid;
    place-content: center;
}

.image-icon{
    font-size: 60px;
    margin-left: auto;
    margin-right: auto;
}

.problem-page .close-button{
    background-color: var(--PRIMARYCOLOR);
    color: var(--PAGEBACKGROUND);
    display: grid;
    place-content: center;
    padding: 5px;
    border-radius: 8px;
    font-weight: bold;
}

@media screen and (max-width:1500px){
    .problem-page{
        height: 88vh;
    }
}

@media screen and (max-width:992px){
    .problem-page{
        height: 85vh;
    }

    .problem-page .nav-close-button{
        background-color: var(--PRIMARYCOLOR);
        color: var(--PAGEBACKGROUND);
        display: grid;
        place-content: center;
        padding: 2px 5px;
        border-radius: 8px;
    }
}

 
@media screen and (max-width:768px){
    .problem-page{
        height: 84vh;
    }

    
}