.open{
    width: 50%;
    height: 48%;
    background-color: var(--PAGEBACKGROUND);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    border-radius: 15px;
    box-shadow: 1px 0px 9px 4px rgba(109, 42, 93, 0.493); 
    padding: 1rem;
    gap: 1rem;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--PRIMARYCOLOR);
    font-size: 0.8rem;
}

.close{
    display: none;
}

.closeNotificationItem{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.notification-message-item{
    color: var(--HOMEBGLIGHT);
    text-align: center;
}


.notificationImage{
    width: 2.5rem;
    height: 2.55rem;
}

.notificationImage img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.notificationControls{
    display: grid;
    gap: 0.5rem;
}

.notificationControls-item{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
}

.notificationControls-item:hover{
    background-color: var(--HOMEBGCOLOR);
    cursor: pointer;
}

.noti-icon{
    width: 1.5rem;
    height: 1.5rem;
    display: grid;
    place-content: center;
    background-color: var(--HOMEBGCOLOR);
    border-radius: 50px;
}

.notificationControls-item-icon{
    font-size: 0.8rem;
    color: var(--PRIMARYCOLOR);
}

@media screen and (max-width:768px){
    .open{
        width: 100%;
        height: auto;
        background-color: var(--PAGEBACKGROUND);
        top: unset;
        border-radius: unset;
        border-radius: 15px 15px 0 0;
    }
}
