:root{
    /*COLOR*/
    --FF:sans-serif;
    --FS:1.5rem;
    --FS-XL:3rem;
    --FW:bold;

    /*COLOR*/
    --HOMEBGCOLOR: rgba(63, 4, 50, 0.178);
    --HOMEBGLIGHT:rgba(63, 4, 50, 0.397);
    --MAINBGICONCOLOR: rgba(243, 240, 237, 0.884);
    --BORDERRIGHTCOLOR:rgba(63, 4, 50, 0.048);
    --PRIMARYCOLOR: rgb(63, 4, 50);
}


.createpost{
    width: 50%;
    height: 48%;
    background-color: var(--PAGEBACKGROUND);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    border-radius: 15px;
    box-shadow: 1px 0px 9px 4px rgba(109, 42, 93, 0.493); 
    padding: 1rem;
}

.profile-line{
    display: none;
}

.createControls{
    display: none;
}

.no-createpost{
    display: none;
}

.close-create-post-button{
    position: absolute;
    right: -1rem;
    top: -1rem;
    border: 2px solid black;
    border-radius: 50px;
    display: grid;
    place-content: center;
    font-size: 1.3rem;
    cursor: pointer;
}

.close-create-post-button:hover{
    background-color: var(--MAINBGICONCOLOR);

}

.createpost form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: 100%;
    padding-block: 10px;
}

.createpost input{
    width: 100%;
    outline: none;
    border:3px solid var(--BORDERRIGHTCOLOR);
    background-color: transparent;
    color: var(--PRIMARYCOLOR);
}

.image-post:nth-of-type(1){
    display: none;
}

.post-form-row:nth-child(2){
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.createpost .profile{
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--PRIMARYCOLOR);
    border-radius: 50px;
}

.createpost .profile img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.createpost textarea{
    width: 100%;
    height: 8rem;
    outline: none;
    border: none;
    background-color: transparent;
    border:3px solid var(--BORDERRIGHTCOLOR);
    color: var(--PRIMARYCOLOR);
    border-radius: 15px;
    padding: 1rem;
    font-size: 10px;
}

.newSize{
    width: 50%;
    height: 8rem;
    outline: none;
    border: none;
    background-color: transparent;
    border:3px solid var(--BORDERRIGHTCOLOR);
    color: var(--PRIMARYCOLOR);
    border-radius: 15px;
    padding: 1rem;
    font-size: 10px;
}

.preview-image{
    width: 20rem;
    height: 8rem;
    position: relative;
}

.preview-close{
    position: absolute;
    left: 5px;
    top: 5px;
    padding: 3px;
    background-color: var(--MAINBGICONCOLOR);
    color: var(--PRIMARYCOLOR);
    border-radius: 50px;
}

.preview-close:hover{
    background-color: var(--PRIMARYCOLOR);
    color: var(--MAINBGICONCOLOR);
}

.preview-image img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.image-post{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--BORDERRIGHTCOLOR);
    border-radius: 20px;
    display: grid;
    place-content: center;
}

.image-post:hover{
    box-shadow: 1px 0px 9px 4px rgba(75, 43, 68, 0.295); 
}

.post-form-row:nth-child(3){
    display: flex;
    justify-content: space-around;
    color: var(--HOMEBGLIGHT);
    font-weight: bold;
}

.createpost .create-active{
    color: var(--PRIMARYCOLOR);
}

.activate-item-icon{
    display: none;
}

.contents{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0.5rem;
}

.no-content{
    display: none;
}

.cattt{
    color: var(--PRIMARYCOLOR);
    display: flex;
    justify-content: space-around;
}

.cattt-item{
    padding: 5px;
}

.cattt-item-active{
    color: var(--MAINBGICONCOLOR);
    background-color: var(--PRIMARYCOLOR);
}

.post-button{
     background-color: var(--PRIMARYCOLOR);
    color: var(--MAINBGICONCOLOR);
    font-weight: bold;
    padding: 4px 10px;
    display: grid;
    place-content: center;
    border-radius: 8px;

}

input[type='file']{
    display: none;
}


@media screen and (max-width:1200px){
    .createpost{
        width: 50%;
        height: 48%;
    }
 }


 @media  (max-height:800px) and (max-width:1280px ){
    .createpost{
        width: 65%;
        height:55%;
    }
    
 }

 @media  (max-height:600px) and (max-width:1024px ){
    .createpost{
        width: 65%;
        height:75%;
    }
    
 }
 
 /* || LARGE */
 
 @media screen and (max-width:992px){
    .createpost{
        width: 70%;
        height: 46%;
    }
 }
 /* || MEDIUM */
 
 @media screen and (max-width:768px){

    .close-create-post-button{
        display: none;
    }

    .profile-line{
        display: flex;
        gap: 0.8rem;
        align-items: center;
    }

    .user-name{
        font-weight: bold;
        color: var(--PRIMARYCOLOR);
    }

    .createpost{
        width: 100%;
        height: 100%;
        border-radius: 0px;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .createControls{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--BORDERRIGHTCOLOR);
        padding: 0.5rem;
    }

    .createControls button{
        background-color: var(--PRIMARYCOLOR);
        color: var(--MAINBGICONCOLOR);
        font-weight: bold;
        padding: 0.2rem 0.4rem;
        border-radius: 8px;
        display: grid;
        place-content: center;
    }

    .control-title{
        font-weight: bold;
        color: var(--PRIMARYCOLOR);
    }

    .profile-control{
        display: none;
    }

    .post-form-row:first-child{
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .post-form-row:nth-child(2){
        display: grid;
        gap: 1rem;
        justify-content: center;
        width: 100%;
        height: 47vh;
    }

    .post-form-row:nth-child(2) textarea{
        width: 95vw;
        height: 100%;
        outline: none;
        border: none;
        background-color: transparent;
        border:none;
        color: var(--PRIMARYCOLOR);
        border-radius: 15px;
        padding: 1rem;
        font-size: 10px;
    }

    .preview-image{
        width: 95vw;
    }

    .image-post:nth-of-type(1){
        display: grid;
        width: 2rem;
        height: 2rem;
    }

    .image-post:nth-of-type(2){
        display: none;
    }

    .activate-item-icon{
        display: block;
    }

    .activate-item{
        display: none;
    }

    .c{
        display: none;
    }

    .cattt{
        overflow: scroll;
   
    }

 }
 
 /* || SMALL */
 
 @media screen and (max-width:576px){
    
 }

 

 @media  (max-height:1000px) and (max-width:576px ){
    .post-form-row:nth-child(2){
        height:56vh;
    }
    
 }

 @media  (max-height:750px) and (max-width:576px ){
    .post-form-row:nth-child(2){
        height:43vh;
    }
    
 }

 @media  (height:1024px) and (width:768px ){
    .post-form-row:nth-child(2){
        display: grid;
        gap: 1rem;
        justify-content: center;
        width: 100%;
        height: 60vh;
    }
    
 }

 @media  (height:1368px) and (width:912px ){
    .createpost{
        height:35%;
    }
    
 }


 
 
 
 
 
 /* ||MOBILE DEVICE LANSCAPE */
 
 /* @media screen and (max-height:425px) and (min-aspect-ratio:7/4){
      
 } */
 
 
 
 
 
 
 
 
 
 
 


