.back-button{
    background-color: var(--PRIMARYCOLOR);
    color: var(--MAINBGICONCOLOR);
    font-weight: bold;
    padding: 0.2rem 0.4rem;
    border-radius: 8px;
    display: grid;
    place-content: center;
}

/* .bookmark-title{
    padding-inline: 1rem;
}
 */


.bookmark-title{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: var(--PAGEBACKGROUND);
    z-index: 1;
    margin-top: -0.5rem;
    padding-inline: 1rem;
}

@media screen and (max-width:1500px){
    .bookmark-page{
        height: 88vh;
    }
}

@media screen and (max-width:992px){
    .bookmark-page{
        height: 85vh;
    }

}

 
@media screen and (max-width:768px){
    .bookmark-page{
        height: 84vh;
    }

}