:root{
  /*COLOR*/
  --FF:sans-serif;
  --FS:1.5rem;
  --FS-XL:3rem;
  --FW:bold;

  /*COLOR*/
  --PAGEBACKGROUND:rgb(233, 216, 214);
  --HOMEBGCOLOR: rgba(63, 4, 50, 0.178);
  --HOMEBGLIGHT:rgba(63, 4, 50, 0.397);
  --MAINBGICONCOLOR: rgba(243, 240, 237, 0.884);
  --BORDERRIGHTCOLOR:rgba(63, 4, 50, 0.048);
  --PRIMARYCOLOR: rgb(63, 4, 50);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 14px;
}

body{
  font-family: sans-serif;
  -webkit-font-smoothing : antialised;

}

.no-item{
  margin-top: 20px;
  height: 100%;
  text-align: center;
  color: var(--PRIMARYCOLOR);
  font-size: 14px;
}

/* .App{
  
  
}
 */
